:root {
    --header-height: 80px;
    --margin-to-header: calc(var(--header-height) + 50px);
    --font-1: "Space Mono";
    --font-2: "Rubik";
    --tarxeta-info-padding: 30px;
    --tarxeta-info-height: 250px;
}

html * {
    font-family: var(--font-2), Tofu;
    text-align: justify;
}

h1, h2 {
    font-family: var(--font-1), Tofu;    
}

body {
    margin: var(--margin-to-header) 0 0 0;
    min-height: 125vh;
    font-family: sans-serif;
}

/* Header */
header {  
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    box-shadow: 0 0 10px 0 black;
    display: flex;
    align-items: center;
    z-index: 1000;
    
    * {
        display: inline;
    }

    #close-sidebar, #open-sidebar {
        display: none;
    }

    li {
        margin: 20px;
    }

    nav {
        a {
            color: black;
            padding: 0px 12px;
            text-decoration: none;
            font-weight: 500;
        }

        a.selected {
            color: teal;
            font-weight: bold;
        }
    }

    img {
        height: 60px;
        margin-left: 40px;
    }
}

/* main-content */
.main-content {
    width: 80%;
    margin: 0 auto;
}

/* selector-linguaxe */
.selector-linguaxe {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* listas */
.lista {
    a {
        color: black;
        text-decoration: none;
    }
}

/* tarxetas de informacion*/
.tarxeta-info {
    height: var(--tarxeta-info-height);
    background-color: #2a2a2a;
    display: flex;

    .texto {
        padding: var(--tarxeta-info-padding);
        width: calc(100% - var(--tarxeta-info-height));
    
        .titulo {
            
            h2 {
                padding: calc(var(--tarxeta-info-padding) / 4);
                margin: 0;
                color: teal;
                background-color: #f2f2f2;
                border-radius: 10px;
                width: fit-content;
            }
        }

        .descricion {

            p {
                color: white;
            }
        }
    }
        
    
    .imaxe {
        height: fit-content;
        width: fit-content;

        img {
            height: var(--tarxeta-info-height);
            width: var(--tarxeta-info-height);
            opacity: .7;
        }
    }
}

@media only screen and (max-width: 1024px) {
    header {
        #open-sidebar {
            display: inline-block;
            position: absolute;
            right: 50px;
        }

        #close-sidebar {
            display: block;
        }

        nav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #f2f2f2;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
            box-shadow: 0 0 10px 0 black;

            a {
                padding: 8px 8px 8px 32px;
                display: block;
                transition: 0.3s;
            }

            #close-sidebar {
                position: absolute;
                top: 0;
              }
        }

        nav.active {
            width: 250px;
        }
    }


    .tarxeta-info {
        display: flex;
        width: 100%;
        height: fit-content;
        border-radius: 10px;
    
        .texto {
            position: static;
            width: unset;
            padding: var(--tarxeta-info-padding);
            
            .titulo {
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                height: fit-content;
                width: fit-content;
                display: flex;
                margin-bottom: 20px;
                    
                h2 {
                    color: teal;
                    background-color: #f2f2f2;
                    border-radius: 10px;
                    text-align: center;
                }
            }
            
            .descricion {
                p {
                    margin: 0;
                }
            }
        }
            
        .imaxe {
            display: none;
        }
    }
}